*{
    box-sizing: border-box;
}

body{
    background-color: rgb(143, 107, 241);
    margin: 0;
}

.box {
    width: 400px;
    height: 600px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 800px;
    color: white;
    margin: 0 auto;
    transform: translateX(-50%);
}

.cat-head {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;

}


.cat-left-ear{
    z-index: -1;
    position: absolute;
    top: -26px;
    left: -31px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid rgb(8, 3, 3);
    transform: rotate(-45deg);
}
.cat-right-ear{
    z-index: -1;
    position: absolute;
    top: -26px;
    left: 163px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid rgb(16, 13, 27);
    transform: rotate(45deg);
}
